/*

font-family: 'Amaranth', sans-serif;
font-family: 'Chewy', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Bree Serif', serif;
*/


/*
.class
#id
*/


body{
   
    color: darkcyan;
    background-color: darkseagreen;
    text-align: center;
    padding-top: 2.5%;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    /*background: ;
    background-size: contain;/*/
}





#terms{

    position:absolute;
    vertical-align: middle;
     

    text-align: center;
    font-size:35px;
    
    color: blueviolet;
}


.chart{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.chart-pie{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

div.calendar-submission-frequency {

    margin: auto;
}
